.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-no-justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-evenly {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}