.app-header {
 
    padding: 10px;
 
    width: 100%;
}

.app-header > div > div  {
    display: grid;
    grid-template-rows: 115px 20px;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
}

.app-header > div > div:nth-child(1) {
    width: 118.75px;
}