/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;

 
}

li {
  list-style: none;
}

::grammar-error {
  text-decoration: none;
  text-decoration-color: transparent;
}


:root {
  --white: rgb(255, 255, 255);
}

body {
  background-color: var(--white);
}

img {
  width: 100%;
  display: block;
}

h1 {
  text-transform: capitalize;
  color: var(--white);
  font-weight: normal;
  text-align: center;
  width: 100%;
  font-family: 'gilroyBold', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;

  font-size: 45px;
  margin-bottom: 10px;
}


form {
  width: 100%;
}


.glass {
  /* From https://css.glass */
  border-radius: 10px;
  width: 100%;
  background: rgb(255 255 255 / 4%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.233);
  text-align: center;
  color: var(--white);
  margin-bottom: 10px;
}

@font-face {
  font-family: 'gilroyRegular';
  src: url('./fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'gilroyBold';
  src: url('./fonts/Gilroy-Bold.ttf');
}